.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 10px 30px;
    background-color: rgb(192, 218, 252);
    border-radius: 5px;
    box-shadow: 5px 5px 25px rgba(97, 95, 95, 0.5);
  }
  
  div {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    background-color: #7181ec;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
  }
  